# ============================================
# SERVIDOR
# ============================================
PORT=3005
HOST=0.0.0.0
NODE_ENV=development

# ============================================
# UPLOADS
# ============================================
UPLOAD_DIR="./uploads"

# ============================================
# BANCO DE DADOS  
# ============================================
DATABASE_URL="database url"

JEW_SECRET="jwt token"